.b-img-section {
  margin-bottom: 3rem;
  position: relative;
  z-index: 5;
}
@media (max-width: 1024px) {
  .b-img-section {
    padding: 0;
  }
}
.b-img-section__grid {
  position: relative;
  display: flex;
  gap: 3rem;
  align-items: center;
}
@media (max-width: 768px) {
  .b-img-section__grid {
    gap: 2rem;
    flex-direction: column;
  }
}
.b-img-section__images {
  position: relative;
  width: 100%;
  max-width: 480px;
  height: 470px;
  min-height: 400px;
  max-height: 470px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .b-img-section__images {
    height: initial;
    min-height: 270px;
  }
}
@media (max-width: 768px) {
  .b-img-section__images {
    order: 2;
    min-height: 220px;
  }
}
.b-img-section__images::before {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
}
.b-img-section__bg {
  position: absolute;
  height: 100%;
  z-index: 0;
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .b-img-section__bg {
    width: 50%;
    max-width: 200px;
  }
}
.b-img-section__bg img {
  display: block;
}
@media (max-width: 1024px) {
  .b-img-section__bg img {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .b-img-section__bg img {
    width: 100%;
    right: 10%;
  }
}
@media (max-width: 576px) {
  .b-img-section__bg img {
    right: 0;
  }
}
.b-img-section__front {
  position: absolute;
  z-index: 2;
  height: 100%;
  bottom: 0;
  left: 0;
}
@media (max-width: 1024px) {
  .b-img-section__front {
    height: auto;
  }
}
@media (max-width: 768px) {
  .b-img-section__front {
    width: 75%;
    max-width: 270px;
    left: 10%;
  }
}
@media (max-width: 576px) {
  .b-img-section__front {
    left: 0;
  }
}
.b-img-section__front img {
  display: block;
}
@media (max-width: 1024px) {
  .b-img-section__front img {
    width: 100%;
  }
}
.b-img-section__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 6;
}
.acf-block-preview .b-img-section {
  border: 1px solid #6262d2;
  padding: 20px;
  margin-top: 20px;
}
.acf-block-preview .b-img-section:before {
  content: "IMG Section";
  color: #ffffff;
  padding: 3px 10px;
  font-size: 12px;
  background-color: #6262d2;
  position: absolute;
  top: 10px;
  right: 10px;
}

.overflow-h {
  overflow: hidden !important;
}