@use "../../assets/scss/variable" as *;

.b-img-section {
  margin-bottom: $space-7;
  position: relative;
  // height: 600px;
  z-index: 5;
  @media (max-width: $breakpoint-md) {
    padding: $space-6 0;
  }

  @media (max-width: $breakpoint-sm) {
    padding: $space-5 0;
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-7;
    align-items: center;

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
      gap: $space-6;
    }
  }

  &__images {
    position: relative;
    width: 100%;
    max-width: 480px;
    height: 470px;
    min-height: 400px;
    max-height: 470px;
    // overflow: hidden;
    margin: 0 auto;
    // padding: 0 20px;

    @media (max-width: $breakpoint-md) {
      min-height: 300px;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      bottom: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: #fff;
      // opacity: 0.5;
    }
  }

  &__bg {
    position: absolute;
    // width: 100%;
    height: 100%;
    z-index: 0;
    bottom: 0;
    right: 0;

    img {
      display: block;
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
      // border-radius: 20px;
    }
  }

  &__front {
    position: absolute;
    z-index: 2;
    // width: 100%;
    height: 100%;
    // margin: 0 auto;
    // margin-top: 20%;
    // transform: translateY(0);
    bottom: 0;
    left: 0;

    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin-top: 15%;
    }

    img {
      display: block;
      // width: 100%;
      // height: 100%;
      // object-fit: contain;
      // height: 80%;
      // width: auto;
      // object-fit: contain;
      // width: 100%;
      // height: auto;
      // object-fit: cover;
      // border-radius: 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    position: relative;
    z-index: 6;
  }

  // Preview mode styling
  .acf-block-preview & {
    border: 1px solid $color-primary;
    padding: 20px;
    margin-top: 20px;

    &:before {
      content: "IMG Section";
      color: $color-background;
      padding: 3px 10px;
      font-size: 12px;
      background-color: $color-primary;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
.overflow-h {
  overflow: hidden !important;
}
