@use "../../assets/scss/variable" as *;

.b-img-section {
  margin-bottom: $space-7;
  position: relative;
  // height: 600px;
  z-index: 5;
  @media (max-width: $breakpoint-md) {
    padding: 0;
    // margin-bottom: 0;
  }

  @media (max-width: $breakpoint-sm) {
  }

  &__grid {
    position: relative;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: flex;
    gap: $space-7;
    align-items: center;

    @media (max-width: $breakpoint-sm) {
      // grid-template-columns: 1fr;
      gap: $space-6;
      flex-direction: column;
    }
  }

  &__images {
    position: relative;
    width: 100%;
    max-width: 480px;
    height: 470px;
    min-height: 400px;
    max-height: 470px;
    // overflow: hidden;
    margin: 0 auto;
    // padding: 0 20px;

    @media (max-width: $breakpoint-md) {
      // min-height: 300px;
      height: initial;
      min-height: 270px;
    }
    @media (max-width: $breakpoint-sm) {
      order: 2;
      min-height: initial;
      max-height: initial;
      height: 300px;
      width: 50%;
    }
    @media (max-width: $breakpoint-xs) {
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      // opacity: 0.5;
    }
  }

  &__bg {
    position: absolute;
    // width: 100%;
    height: 100%;
    z-index: 0;
    bottom: -50px;
    right: 0;
    @media (max-width: $breakpoint-sm) {
      width: 100%;
      // max-width: 200px;
    }
    img {
      display: block;
      width: 450px;
      height: auto;
      object-fit: contain;
      object-position: bottom;
      @media (max-width: $breakpoint-lg) {
        width: 100%;
      }
      @media (max-width: $breakpoint-md) {
        width: 100%;
      }
      @media (max-width: $breakpoint-sm) {
        width: 100%;
        // max-width: 200px;
        right: 10%;
      }
      @media (max-width: $breakpoint-xs) {
        right: 0;
      }
    }
  }

  &__front {
    position: absolute;
    z-index: 2;

    height: 100%;

    bottom: -20px;
    left: 0;

    @media (max-width: $breakpoint-md) {
      // height: auto;
      bottom: -10px;
    }
    @media (max-width: $breakpoint-sm) {
      // width: 75%;
      // max-width: 270px;
      // left: 10%;
    }
    @media (max-width: $breakpoint-xs) {
      left: 0;
    }

    img {
      display: block;
      width: 370px;
      height: auto;
      object-fit: contain;
      object-position: bottom;
      @media (max-width: $breakpoint-lg) {
        width: 100%;
      }
      @media (max-width: $breakpoint-md) {
        width: 100%;
        max-width: 200px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    position: relative;
    z-index: 6;
    @media (max-width: $breakpoint-md) {
      // width: 70%;
    }
  }

  // Preview mode styling
  .acf-block-preview & {
    border: 1px solid $color-primary;
    padding: 20px;
    margin-top: 20px;

    &:before {
      content: "IMG Section";
      color: $color-background;
      padding: 3px 10px;
      font-size: 12px;
      background-color: $color-primary;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
.overflow-h {
  overflow: hidden !important;
}
