.acf-block-preview .group-container {
  width: 100% !important;
  left: 0px !important;
  margin-left: 0 !important;
}
.acf-block-preview .group-container .container-fluid {
  display: block;
  border: 1px solid #f1f5f9;
  padding: 20px;
  margin: 20px 0;
}

.acf-block-preview .b-sticky-con {
  border: 1px solid #6262d2;
  padding: 20px;
  margin-top: 20px;
}
.acf-block-preview .b-sticky-con:before {
  content: "sticky sidebar";
  color: #ffffff;
  padding: 3px 10px;
  font-size: 12px;
  background-color: #6262d2;
  position: absolute;
  top: 10px;
  right: 10px;
}

.sticky-nav {
  position: sticky;
  top: 80px;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(98, 98, 210, 0.04);
}
.sticky-nav nav ul {
  list-style: none;
  padding: 0;
}
.sticky-nav nav ul li {
  position: relative;
  display: block;
  width: 100%;
}
.sticky-nav nav ul li a {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #141414;
}
.sticky-nav nav ul li a:hover {
  font-weight: 700;
}
.sticky-nav nav ul .active {
  position: relative;
  padding-left: 1rem;
}
.sticky-nav nav ul .active:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../../assets/img/corner-mark.png);
  width: 1rem;
  height: 1rem;
  top: -0.25rem;
  left: 0.25rem;
}
.sticky-nav nav ul .active a {
  font-weight: 700;
  color: #6262d2;
}

.acf-block-preview .b-sticky-con {
  border: 1px solid #6262d2;
  padding: 20px;
  width: 100%;
  left: initial;
  margin-left: initial;
  margin-top: 50px !important;
}
.acf-block-preview .b-sticky-con:before {
  content: "Sticky sidebar";
  color: #fff;
  padding: 3px 10px;
  font-size: 12px;
  background-color: #6262d2;
  position: absolute;
  top: 10px;
  right: 10px;
}