@use "../../assets/scss/variable" as *;

.b-banner-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  &__wrapper {
    background: $color-background;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 8px 16px 8px 10px;
    border-radius: 60px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.03);
  }
  &__images {
    display: flex;
    align-items: center;
    padding-right: 8px;
    flex-shrink: 0;
  }

  &__image {
    position: relative;
    flex-shrink: 0;
    width: 31px;
    height: 31px;
    object-fit: cover;
    object-position: center;
    margin-right: -8px;
    border: 2px solid #fff;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__text {
    font-family: "Satoshi", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    flex-shrink: 0;
    color: $color-text;
    font-size: 14px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }

  &__text-normal {
    font-family: "Satoshi", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
  }

  &__text-bold {
    font-family: "Satoshi", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
  }

  &__text-handwritten {
    font-family: "Indie Flower", "Comic Sans MS", cursive;
    font-weight: bold;
    font-size: 18px;
  }
}
