.b-bg {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
}
.b-bg .b-bg-apla {
  position: absolute;
  left: 0;
  z-index: -99;
  width: 100%;
  height: calc(100% - 200px);
}

.o-hidden {
  left: -50vw;
  margin-left: calc(50% + 2rem);
  position: relative;
  width: calc(100vw - 3rem);
}
@media (max-width: 768px) {
  .o-hidden {
    left: initial;
    margin-left: initial;
    width: 100%;
  }
}
.o-hidden .container,
.o-hidden .container-middel,
.o-hidden .container-narrow {
  position: relative;
  padding: 2rem;
}
@media (max-width: 1024px) {
  .o-hidden .container,
  .o-hidden .container-middel,
  .o-hidden .container-narrow {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .o-hidden .container,
  .o-hidden .container-middel,
  .o-hidden .container-narrow {
    padding: 0.5rem;
  }
}
.o-hidden .container .b-bg-apla,
.o-hidden .container-middel .b-bg-apla,
.o-hidden .container-narrow .b-bg-apla {
  border-radius: 20px;
}

.mt-50 {
  margin-top: -50px;
}

.acf-block-preview .b-bg {
  border: 1px solid #6262d2;
  padding: 20px;
  width: 100%;
  left: initial;
  margin-left: initial;
  margin-top: 50px !important;
}
.acf-block-preview .b-bg:before {
  content: "Kontener BG";
  color: #ffffff;
  padding: 3px 10px;
  font-size: 12px;
  background-color: #6262d2;
  position: absolute;
  top: 10px;
  right: 10px;
}

.m-b-160 {
  margin-bottom: -160px;
}

.svg-full {
  margin-bottom: -35px;
}
.svg-full svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  object-position: center;
  object-fit: cover;
  object-position: center;
}