@use "../../assets/scss/variable" as *;

.b-bg {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  .b-bg-apla {
    position: absolute;
    left: 0;
    // top: 0;
    z-index: -99;
    width: 100%;
    height: calc(100% - 200px);
  }
}
.o-hidden {
  left: -50vw;
  margin-left: calc(50% + 2rem);
  position: relative;
  width: calc(100vw - 3rem);
  @media (max-width: $breakpoint-sm) {
    left: initial;
    margin-left: initial;
    width: 100%;
    // padding: 16px;
  }
  .container,
  .container-middel,
  .container-narrow {
    position: relative;
    padding: $space-6;
    @media (max-width: $breakpoint-md) {
      padding: $space-4;
    }
    @media (max-width: $breakpoint-sm) {
      padding: $space-2;
    }
    .b-bg-apla {
      border-radius: 20px;
    }
  }
}

.mt-50 {
  margin-top: -50px;
}
.acf-block-preview .b-bg.mt-50 {
  //   margin-top: 0px !important;
}

.acf-block-preview .b-bg {
  border: 1px solid $color-primary;
  padding: 20px;
  width: 100%;
  left: initial;
  margin-left: initial;
  margin-top: 50px !important;
  &:before {
    content: "Kontener BG";
    color: $color-background;
    padding: 3px 10px;
    font-size: 12px;
    background-color: $color-primary;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.m-b-160 {
  margin-bottom: -160px;
}

.svg-full {
  margin-bottom: -35px;
  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    object-fit: contain;
    object-position: center;
    object-fit: cover;
    object-position: center;
  }
}
