@use "../../assets/scss/variable" as *;

.b-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;

  &__wrapper {
    width: 100%;
    position: relative;
    border-radius: 20px;
  }

  &__container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }

  // Alignment classes
  &.alignwide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &.alignfull {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
