.b-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.b-image__wrapper {
  width: 100%;
  position: relative;
  border-radius: 20px;
}
.b-image__container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.b-image__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}
.b-image.alignwide {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.b-image.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}