.sep-100 {
  height: 100px;
  clear: both;
}
@media (max-width: 1024px) {
  .sep-100 {
    height: 50px;
  }
}
@media (max-width: 768px) {
  .sep-100 {
    height: 30px;
  }
}

.sep-50 {
  height: 50px;
  clear: both;
}
@media (max-width: 1024px) {
  .sep-50 {
    height: 50px;
  }
}
@media (max-width: 768px) {
  .sep-50 {
    height: 30px;
  }
}

.sep-30 {
  height: 30px;
  clear: both;
}
@media (max-width: 1024px) {
  .sep-30 {
    height: 30px;
  }
}
@media (max-width: 768px) {
  .sep-30 {
    height: 15px;
  }
}

.sep-15 {
  height: 15px;
  clear: both;
}

.acf-block-preview .custome-separator {
  background-color: #eeeef0 !important;
}

.acf-block-preview .anchor {
  height: 100px;
  background-color: #eeeef0 !important;
  border-radius: 6px;
  position: relative !important;
  z-index: 1 !important;
  margin-top: 0 !important;
  width: 100% !important;
  padding: 10px;
}
.acf-block-preview .anchor:before {
  content: "Anchor point";
  position: absolute;
  color: #6262d2;
  background-color: #6262d2;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
}