.b-title-fu {
  position: relative;
  z-index: -1;
  width: 100%;
  margin: 4rem 0;
}
@media (max-width: 768px) {
  .b-title-fu {
    margin: 40px 0;
  }
}
.b-title-fu .container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .b-title-fu .container {
    padding: 0 16px;
  }
}
.b-title-fu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}
.b-title-fu__wrapper:before {
  content: "";
  position: absolute;
  z-index: -2;
  border-radius: 20px;
  background: linear-gradient(90deg, #e4e4ff, #7777e5 94.73%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .b-title-fu__wrapper:before {
    background: linear-gradient(90deg, #f9f9fd 0%, #f3f2ff 59.73%);
  }
}
.b-title-fu__wrapper:after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
@media (max-width: 768px) {
  .b-title-fu__wrapper {
    gap: 24px;
  }
}
@media (max-width: 576px) {
  .b-title-fu__wrapper {
    gap: 0px;
  }
}
.b-title-fu__image {
  position: relative;
  width: 30%;
  align-self: stretch;
}
@media (max-width: 1024px) {
  .b-title-fu__image {
    display: none;
  }
}
@media (max-width: 576px) {
  .b-title-fu__image {
    width: 20%;
  }
}
.b-title-fu__image img {
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 100%;
  max-width: 200px;
  height: 140%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: centerbottom;
     object-position: centerbottom;
  display: block;
  left: 15%;
}
@media (max-width: 1280px) {
  .b-title-fu__image img {
    left: 0%;
  }
}
@media (max-width: 576px) {
  .b-title-fu__image img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: bottom;
       object-position: bottom;
    width: 100%;
  }
}
.b-title-fu__svgs {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
@media (max-width: 1024px) {
  .b-title-fu__svgs {
    display: none;
  }
}
.b-title-fu__svgs svg {
  position: absolute;
  display: block;
}
.b-title-fu__svgs svg:nth-child(1) {
  top: -10%;
  right: 10%;
}
@media (max-width: 576px) {
  .b-title-fu__svgs svg:nth-child(1) {
    width: 32px;
  }
}
.b-title-fu__svgs svg:nth-child(2) {
  bottom: 40%;
  right: 2%;
}
@media (max-width: 576px) {
  .b-title-fu__svgs svg:nth-child(2) {
    width: 32px;
  }
}
.b-title-fu__svgs svg:nth-child(3) {
  top: 10%;
  right: 60%;
}
@media (max-width: 576px) {
  .b-title-fu__svgs svg:nth-child(3) {
    width: 32px;
  }
}
.b-title-fu__content {
  position: relative;
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 2rem;
  width: 70%;
}
@media (max-width: 768px) {
  .b-title-fu__content {
    padding: 1rem;
  }
}
@media (max-width: 576px) {
  .b-title-fu__content {
    width: 80%;
    padding: 1rem 0 1rem 1rem;
  }
}
.b-title-fu__subtitle {
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  color: #6262d2;
  margin: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .b-title-fu__subtitle {
    font-size: 18px;
  }
}
.b-title-fu__title {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: clamp(21px, 3vw, 36px);
  line-height: 1;
  color: #141414;
  margin: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .b-title-fu__title {
    font-size: 24px;
  }
}
.b-title-fu.aligncenter .b-title-fu__wrapper {
  justify-content: center;
  text-align: center;
}
.b-title-fu.aligncenter .b-title-fu__content {
  align-items: center;
}
.b-title-fu.alignright .b-title-fu__wrapper {
  justify-content: flex-end;
  text-align: right;
}
.b-title-fu.alignright .b-title-fu__content {
  align-items: flex-end;
}
.b-title-fu.alignleft .b-title-fu__wrapper {
  justify-content: flex-start;
  text-align: left;
}
.b-title-fu.alignleft .b-title-fu__content {
  align-items: flex-start;
}

.acf-block-preview .b-title-fu {
  border: 1px dashed rgba(98, 98, 210, 0.4);
  padding: 20px;
  border-radius: 8px;
}