.b-ornament {
  position: absolute;
  left: 0;
  pointer-events: none;
  z-index: 5;
  width: 100%;
}
.b-ornament__svg-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-ornament__svg-wrapper svg {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .b-ornament__svg-wrapper svg {
    max-width: 50px;
    max-height: 50px;
  }
}
.b-ornament--left {
  left: 0px;
}
.b-ornament--left .b-ornament__svg-wrapper {
  left: 0;
  right: auto;
  justify-content: flex-start;
  padding-left: 2rem;
}
.b-ornament--right {
  right: 0px;
}
.b-ornament--right .b-ornament__svg-wrapper {
  right: 0;
  left: auto;
  justify-content: flex-end;
  padding-right: 2rem;
}

.acf-block-preview .b-ornament {
  border: 1px dashed rgba(98, 98, 210, 0.4);
  padding: 20px;
  position: relative;
  z-index: 2;
  width: 200px;
  height: 200px;
}