@use "../../assets/scss/variable" as *;
.b-ornament {
  position: absolute;
  left: 0;
  pointer-events: none;
  z-index: 5;
  width: 100%;
  //   height: 100%;

  &__svg-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: auto;
      height: auto;
      max-width: 200px;
      max-height: 200px;
      object-fit: contain;
      @media (max-width: $breakpoint-sm) {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }

  &--left {
    left: 0px;
    .b-ornament__svg-wrapper {
      left: 0;
      right: auto;
      justify-content: flex-start;
      padding-left: 2rem;
    }
  }

  &--right {
    right: 0px;
    .b-ornament__svg-wrapper {
      right: 0;
      left: auto;
      justify-content: flex-end;
      padding-right: 2rem;
    }
  }
}
.acf-block-preview {
  .b-ornament {
    border: 1px dashed rgba($color-primary, 0.4);
    padding: 20px;
    position: relative;
    z-index: 2;
    width: 200px;
    height: 200px;
  }
}
